#combat-tracker .grid-span-2 {
  grid-column-end: span 2;
}

#combat-tracker .grid-span-4 {
  grid-column-end: span 4;
}

#combat-tracker .grid-start-5 {
  grid-column-start: 5;
}

#combat-tracker .grid-start-7 {
  grid-column-start: 7;
}

#combat-tracker .combatant-name {
  grid-column-end: span 10;
  grid-row-end: span 1;
}

#combat-tracker .combatant-info {
  display: grid;
  gap: 1px;
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

#combat-tracker li.combatant.active {
  border-color: var(--color-border-highlight);
}

#combat-tracker li.combatant.active .combat-input :is(input, p) {
  text-shadow: 1px 1px 4px var(--color-shadow-dark);
}

#combat-tracker li.combatant .token-image {
  margin: 2px auto 0;
  width: auto;
}

#combat-tracker li.combatant .token-image:hover {
  cursor: alias;
}

#combat-tracker .defeated {
  color: #b32019;
}

#combat-tracker .combat-input {
  line-height: normal;
  text-align: center;
}

#combat-tracker .combat-input input {
  color: white;
  height: 20px;
}

#combat-tracker .combat-input input.hidden {
  color: var(--color-text-light-7);
}

#combat-tracker .combat-input p {
  height: 20px;
  margin: 0;
  padding-top: 1px;
}

#combat-tracker li.combatant .token-name {
  align-self: center;
}

#combat-tracker .img {
  align-content: center;
  display: grid;
  grid-row-end: span 3;
  grid-column-end: span 2;
  line-height: normal;
}

#combat-tracker li.combatant .roll {
  background-size: 20px;
  height: 20px;
  margin: 5px auto;
}

#combat-tracker li.combatant .roll.hidden {
  filter: brightness(0.4);
}

#combat-tracker .fa-solid {
  font-weight: 900;
}

#combat-tracker i {
  text-shadow: 1px 1px 4px var(--color-shadow-dark);
}

#combat-tracker li.combatant .token-name .combatant-control {
  flex: 0 0 16px;
  padding: 1px;
}

#combat-tracker .combatant-controls {
  height: 42px;
  padding: 0;
  vertical-align: bottom;
  line-height: 1;
}

#combat-tracker .combatant-buttons {
  color: var(--color-text-dark-5);
  grid-row-end: span 2;
  padding: 14px 0 0 5px;
}

#combat-tracker .combatant-buttons .active {
  color: var(--color-text-light-1);
}

#combat-tracker .combatant-values {
  width: 49px;
}

#combat-tracker .combatant {
  display: grid;
  row-gap: 5px;
  grid-column: span 12 / span 12;
  grid-row: span 3 / span 3;
  grid-template-rows: repeat(3, minmax(0, 23px));
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin: 3px 0;
  padding: 1px;
}

#combat-tracker .PC {
  background: rgb(52, 188, 78, 0.1);
  border-top: 2px solid rgb(52, 188, 78, 0.3);
  border-bottom: 2px solid rgb(52, 188, 78, 0.3);
}

#combat-tracker .hostile {
  background: rgb(231, 33, 36, 0.1);
  border-top: 2px solid rgb(231, 33, 36, 0.3);
  border-bottom: 2px solid rgb(231, 33, 36, 0.3);
}

#combat-tracker .neutral {
  background: rgb(241, 216, 53, 0.1);
  border-top: 2px solid rgb(241, 216, 53, 0.3);
  border-bottom: 2px solid rgb(241, 216, 53, 0.3);
}

#combat-tracker .friendly {
  background: rgb(67, 223, 223, 0.1);
  border-top: 2px solid rgb(67, 223, 223, 0.3);
  border-bottom: 2px solid rgb(67, 223, 223, 0.3);
}

#combat-tracker .combatant-name h4 {
  line-height: 44px;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 4px var(--color-shadow-dark);
  white-space: nowrap;
}

#combat-tracker p.truncate {
  font-size: 0.7rem;
  margin: 12px 0 -4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#combat-tracker li.combatant .token-initiative .initiative {
  display: inline-block;
  margin: 5px auto;
}

#combat-config div.form-group:first-of-type {
  display: none;
}
